body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: rgba(240, 248, 255, 0.886);
  background-image: url(Digital.jpg);
  background-attachment: fixed;
}

.navbar{
  background:repeating-linear-gradient(rgb(96, 146, 234), rgb(0, 98, 255));
}
.nav-link{
  color: white;
}
.nav-link:focus{
  color: white;
  font-weight: bold;
}
.card{
  border-radius: 13px;
  background-color: white;
} 
.card:hover{
  background-color: rgb(219, 246, 252);
  /* transform:scaleZ(1); */
} 
.NewsItem{
  border: 2px solid rgb(90, 155, 235);
  border-radius: 13px;
}
.text-center{
  color: rgb(255, 255, 255);
  font-weight: bold;
}
.readmore{
  background:repeating-linear-gradient(rgb(105, 157, 247), rgb(0, 98, 255));
  font-weight: bold;
}